




body {
      background-color: rgb(219, 230, 233);
}
h1 {
    color: hwb(239 0% 0%); font-style: italic;
}


button {
           border-radius: 13px;   
       font-size: large;     font-style:italic;   
        background-color: hwb(239 31% 31%);   color: aliceblue; 
         width: 77;  height: 37px;  
}

/* h1 {
    color: rgb(17, 0, 250);   font-size: xx-large ;   font-style:italic;
} */

h2 {
    color: rgb(166, 255, 0);  font-style:italic;
    font-size: xx-large;
}


a {
    font-size: xx-large;
}


p  {
    font-size: xx-large ;  color: white; -webkit-text-stroke-width: 0.3px;
} 
 /* span {
    font-size: xx-large;
} */


div {
    background-color: hwb(239 31% 31%);    width: 433;height: 240px; ;
    font-size: xx-large;   border: 3px solid blueviolet  ; border-radius:11px
}


select {
    width:67; height: 23px; ;  font-size: 15; color: rgb(0, 140, 255);  

}
form {
    background-color: rgb(180, 177, 177); border: 2px solid ; font-size: larger; width: 577px;
}
ol {
    background-color: gray; color:white;  width: 120;  border: 2px  solid  rgb(194, 128, 5); font-size: larger; 
}

input {
      font-size: 16px;
}  


